/* html,
body {
   background-image: radial-gradient(#0076b4 0.5px, transparent 0.5px),
      radial-gradient(#0076b4 0.5px, #e3e3e3 0.5px) !important;
   background-size: 20px 20px !important;
   background-position: 0 0, 10px 10px !important;
} */
